@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.dostavka-bg {
  background: url(../../assets/images/dostavka-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}

.sliders {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: none;
}
@media (max-width: 565px) {
  .sliders {
    display: flex;
    flex-wrap: wrap;
  }
}
.sliders img {
  max-width: 100%;
}
.sliders h1 {
  text-align: center;
}

*,
*::before,
*::after {
  margin: 0 auto;
  padding: 0 8px;
  box-sizing: border-box;
  font-family: "Rubik", serif;
}

.container {
  max-width: 1440px;
}

ul {
  display: flex;
  align-items: center;
}
ul li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: rgb(65, 65, 65);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: none;
  padding: 16px 0;
}
@media (max-width: 768px) {
  header nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
header nav .brend-cotalog-search-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: center;
  display: flex;
  gap: 20px;
  max-width: 100%;
}
@media (max-width: 505px) {
  header nav .brend-cotalog-search-div {
    display: flex;
    flex-direction: inherit;
    align-items: center;
  }
}
header nav .brend-cotalog-search-div .search-img {
  position: relative;
  right: 8vh;
}
@media (max-width: 505px) {
  header nav .brend-cotalog-search-div .search-img {
    position: relative;
    bottom: 6vh;
    left: 12vh;
  }
}
header nav .menu {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: none;
}
@media (max-width: 768px) {
  header nav .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
}
header nav .user {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: none;
}
@media (max-width: 1170px) {
  header nav .user {
    display: flex;
    flex-direction: column;
  }
}
header nav .menu-btn-cotalog {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: none;
  background: rgb(112, 192, 91);
  color: rgb(255, 255, 255);
  padding: 8px 12px;
  gap: 8px;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 768px) {
  header nav .menu-btn-cotalog p {
    display: none;
  }
}
header nav input {
  padding: 12px 50px;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid rgb(112, 192, 91);
  outline: white;
}

.cotalof-menu {
  display: none;
}
.cotalof-menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 703px) {
  .cotalof-menu ul {
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  }
}
.cotalof-menu li {
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.cotalof-menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: "Rubik", serif;
  font-weight: bold;
}
.cotalof-menu li a:hover {
  color: rgb(255, 102, 51);
}
.cotalof-menu.menu-open {
  display: block;
}

.menu-toggle {
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}