@use "../utils/variables" as var;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Rubik", serif;
}
html,
body {
  background: var.$colour-secondary;
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  max-width: 1920px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
ul {
  display: flex;
  align-items: center;
  li {
    display: flex;
    // flex-direction: column;
    list-style-type: none;

    a {
      text-decoration: none;
      color: var.$text-color;
    }
  }
}
